<li id="task_<%= task.id%>">
  <%= check_box_tag("toggle_task_#{task.id}", 1, 
    (not task.completed.nil?), 
    :style => "vertical-align: middle;") %>
  <%= observe_field("toggle_task_#{task.id}", 
    :url => toggle_complete_task_path(:id => task.id)) %>
  
  <span class="<%= "completed" if task.completed%>">
    <%= link_to(h(task.name), edit_task_path(task)) %>
  </span> 
  <i>[<%= (task.context ? task.context.name : "none")%>:<%= (task.project ? task.project.name : "(none)")%>]</i>
</li>