<h1>Listing Projects</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Note</th>
        <th colspan=3>Actions</th>
    </tr>
    <%- @projects.each do |project|%>
    <tr>
        <td><%= h project.name %></td>
        <td><%= h project.note %> </td>
        <td><%=link_to 'Show', object_url(project) %></td>
        <td><%=link_to 'Edit', edit_object_url(project) %></td>
        <td><%=link_to 'Destroy', object_url(project), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
</table>
<br/>

<%= link_to 'New Project', new_object_url %>