<h1>Editing Context</h1>

<%= error_messages_for :context %>

<% form_for(:context, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update"%>
    <%= link_to("Cancel", :back) %> | 
    <%= link_to("Destroy", context_path(object), :method => :delete, :confirm => "Are you sure you want to destroy this context?") %>
  </p>
<% end %>

<script type="text/javascript">
  $('context_name').focus();
</script>
